<!DOCTYPE html>
<html>
	<head>
		<!-- Normalize CSS -->
    	<link rel="stylesheet" src="https://normalize-css.googlecode.com/svn/trunk/normalize.min.css">
		<!-- AngularJS -->
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
		<link rel="stylesheet" href="style.css"> 
		    <!-- Firebase -->
    	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
    		<!-- AngularFire -->
    	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>
  		<script src="main.js"></script>
  		 
	
	</head> 
	<body ng-app="tttApp" ng-controller="TttController" ng-model="gameContainer.end">
		<header class="topBanner">Tic Tac Toe</header>
		<div class="board" >
			<div class = "box" ng-repeat="cell in gameContainer.boardArray" ng-class="{xclass: cell.status == 'x', oclass: cell.status =='o'}" ng-click="boxSelect(cell)"></div> 
		</div>
		<div class="end" ng-show="gameContainer.endStatus">{{gameContainer.endMessage}}
		<FORM>
			<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh"/>
		</FORM>
		</div>

	
	</body>
</html>

