html, body, .board, .topBanner, .end {
	padding: 0;
	margin: 0;
}
body {
	background-image: url(images/solid-green-backgrounds.jpg);
	background-size:100% auto;
	border: 10px black;
}

.board {
	position: absolute;
	left: 50%;
	top: 50%;
	background-color:grey;
	width: 600px;
	height: 600px;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 0 30px grey;
	border: 5px inset black;
	background-image: url(images/backimage.jpg);
}

.box {
	padding: 0;
	display: inline-block;
	height:30%;
	width:30%;
	border: 5px solid black;
	margin-top: 1%;
	margin-left: 1%;
	background-color: white;

	
}
 
.topBanner {
	font-size: 100px;
	text-align: center;

	padding: 10px 30px;
}

.xclass {
	background-image: url(images/x.png);
}

.oclass {
	background-image: url(images/o.png);
}

.end {
	position: absolute;
	left: 50%;
	top: 50%;
	background-image:url(images/tic-tac-toe-backgrounds-free.jpg);
	background-size: 600px 600px;
    background-repeat: no-repeat;
	width: 600px;
	height: 600px;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 0 30px grey;
	border: 5px inset black;
	color: white;
	font-size: 50px;
	text-align: center;

}
}















